.btn-success
{
	background: green;
}

.btn-warning
{
	background: yellow;
}

.btn-danger
{
	background: red;
}

.btn-primary
{
	background: blue;
}

.btn
{
	width: 5rem;
	height: 1.7rem;
	margin: 0 0.2rem;
	border: none;
	color: white;
}

.btn:focus
{

	outline: none;

}